body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.first-banner{
    display: flex;
    margin-bottom: 100px;
    justify-content: space-around;
}

.first-banner h1{
    font-size: 53px;
    color: #1f1e1ec2;
}

.first-part{
    margin-top:130px;
    margin-left: 20px;
    
}

.btn a{
    background-image:linear-gradient(45deg, orange, #f73310);
        padding:21px 45px;
        text-decoration:none;
        border-radius: 35px;
        color:white;
        font-weight:500;
    }
    
    .btn{
        margin-top: 70px;
    }

.seceond-banner{
    display: flex;
    background-image:url(images/shapes/7.png);
    justify-content: space-around;
    
}

.seceond-banner img{
    margin-top: 50px;
    margin-left:130px;
    width: 50%;
}

.seceond-part{
    margin-top: 80px;
 margin-left: 140px;
}

.seceond-part h2{
    font-size: 38px;
    color: #1f1e1eb5;
}

.seceond-part p{
    width: 80%;
    margin-bottom: 90px;
}

.skip-part{
    color:rgb(223, 66, 9);
}



.third-banner{
    margin-bottom: 100px;
}


.my-recipies{
    text-align: center;
    margin-top: 80px;
}

.my-recipies h2{
    font-size: 38px;
    color: #1f1e1eb5;
}

.my-recipies p{
width: 60%;
margin: auto;
padding: 10px 30px 30px 30px;

}

.food-images{
    display: flex;
    justify-content: space-around;

}

.food-images .box-1, .box-2, .box-3{
    width: 30%;
    margin-left: 3.3%;
    box-shadow: 10px 10px 20px gray;
    padding: 20px;
    border-radius: 10px;
}

.followers{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    text-align: center;
    box-shadow: 10px 10px 20px gray;
    border-radius: 10px;
    margin-bottom: 40px;
    padding:20px 0;
    
}

.followers h1{
font-size: 45px;
}

.footer-part{
    text-align: center;
    background-color: black;
    padding-top: 20px;
    padding-bottom:100px;

}

.footer-food{
color:tomato;

}
.footer-network{
    color: gray;
}

.footer-part p{
    color: white;
}


















}
    
